# Node modules
/node_modules

# Local environment variables
.env.local
.env
.env.development.local
.env.production.local
.env.test.local

# Next.js build output
/.next
/out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Optional: vscode settings
.vscode/

# Optional: coverage reports
coverage/
